@import "../framework/framework.css";
:root {
--color-light: #c85151;
--color-light: #6b2424;
--color-dark: #d1e6bb;
--color-dark: #7a4343;

--box-shadow: 3px 6px 4px -6px #000000;
--border-radius: 5px;
}
