@import "../framework/framework.css";
:root {
--color-light: white; /* #ede9e9;*/
--color-dark: #e30815;
--color-background: white;
--color-font: black;

--box-shadow: 3px 6px 4px -6px #000000;
--border-radius: 10px;
}




#mapdiv {

    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 70px;
}