@import "../framework/framework.css";
:root {
--color-light: #ede9e9;
--color-dark: #2d22ce;
--color-background: #aeabde;
--color-font: #0b1c6f;

--box-shadow: 3px 6px 4px -6px #000000;
--border-radius: 10px;
}
