@import "../framework/framework.css";
:root {
--color-light1: #d3d3d3;
--color-light2: #d3d3d3;
--color-dark1: #c21622;
--color-dark2: #9d4d52;

--box-shadow: 3px 6px 4px -6px #000000;
--border-radius: 30px;
}
