


button {
    background-color: #3dd5f3;
    width: 300px;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #0a47a9;
}







#main-content {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}


#main {

    background-color: #0a47a9;
    max-width: 1500px;


}




.nav-dark {



}

.nav {

    display: flex;
    justify-content: space-between;


    background-color: var(--color-light1);
    padding: 1em;
    /*text-align: right;*/
    position: relative;

}


#logo {

    height: 3em;

    transition-duration: 0.5s;


}


#logo:hover {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: scale(2.5) rotate(45deg);

}


#hamburger {
border-style: solid;
border-width: 1px;
border-color: var(--color-dark1);
border-radius: 5px;
    padding: 15px;
}



.mobilemenu {

    color: #962B09;
    font-size: 3em;
    transition: 0.5s;

}


.mobilemenu:hover {

    transform: scale(1.1);
    cursor: pointer;


}

#menu-content {

    /*width: 0;
    height: 0;*/


    width: 0;
    height: 300px;

    overflow: hidden;

    background-color: #1da1f2;
    position: absolute;
    right: 0;
    opacity: 0.9;
    /*display: none;*/


    /*transition: width 2s, height 4s;*/
    transition-property: width;
    transition-duration: 0.1s;


}


#menu-close {

    cursor: pointer;
    font-size: 3em;
    position: absolute;
    right: 0;

}