:root {
    --laurel-green: #B3C69Aff;
    --deep-space-sparkle: #425661ff;
    --rifle-green: #414630ff;
    --moss-green: #839362ff;
    --cultured: #EBEFF2ff;
}


* {
    margin: 0;
    padding: 0;
}


body {

    background-color: var(--laurel-green);
    font-family: Verdana;

}


html {

    font-size: 12px;

}


h1 {

    color: var(--moss-green);

}


.card {

    background-color: white;
    margin: 2em;

    border-style: solid;
    border-width: 1px;
    border-color: var(--moss-green);
    border-radius: 20px;
    overflow: hidden;

}


.card-title {

    display: block;
    /*overflow: hidden;*/
    background-color: var(--moss-green);
    color: whitesmoke;
    /*font-style: italic;*/
    font-size: 1.3em;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

}


.card-content {

    display: none;

    padding: 2em;


}







