

@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}



body {




}








@media screen and (min-width: 1200px) {
    body {

        display: grid;
        grid-gap: 2.5rem;
        grid-template-columns: 1fr 2fr 1fr;
        /*grid-template-columns: 100px auto 400px;*/

    }
}


ul {
    margin: 0;
    padding: 0;
    background-color: #3dd5f3;
}


div {
    background-color: #3dd5f3;
}


div::first-letter {
    font-weight: bold;
    font-size: 40px;
    color: red;
}





div:hover {
    /*transform: rotateX(90deg);*/
    /*transform: rotateZ(90deg);*/
}







/*
:root {
    --main-color: #285935;
}


@media screen and (min-width: 1200px) {

    #newspaper {
        column-count: 3;
        column-gap: 100px;
        column-width: 300px;
        column-rule-style: solid;
        column-rule-width: 1px;
        column-rule-color: #1da1f2;


    }
}


body {


    font-family: Verdana;
    letter-spacing: 10px;
    padding: 0;
    margin: 0;


    display: grid;
    justify-content: center;
    align-content: center;


}


.container-center {


    background-color: #0a53be;
   min-width: 800px;
    max-width: 1200px;


}


h1 {
    color: var(--main-color);
    text-transform: uppercase;
    border-bottom-style: solid;
    padding-bottom: 50px;
    margin-bottom: 50px;

}


h2 {

    color: var(--main-color);

}


.layout-grid {


    column-count: 2;

    /*column-width: 200px;
    /*display: grid;
    /*grid-template-columns: 400px 400px;*/
    /*grid-auto-columns: auto;*/

}


.layout {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 50px;

}


.kanton {

    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #0b2e13;

    color: #0a47a9;
    padding: 50px;

}


.kanton_title {


}


.more {

    background-color: #1da1f2;
    /*padding: 25px;*/
    text-decoration: none;


}


select {

    background-color: #1da1f2;

    display: block;
    font-size: large;

    padding: 30px;

    height: 100px;


}


/*

h1 {
    color: whitesmoke;
    text-transform: uppercase;
}


h1:hover {

    color: #0b2e13;

}



h1:hover .bild {

    display: inline;

}


/*
.dropdown:hover .dropdown-content {
    display: block;
}*/


/*
#helloworld {


    cursor: pointer;


}



#bild {
    display: none;
    background-color: whitesmoke;
    width: 400px;
    height: 400px;


}


@media screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }


    .menu {

        /*visibility: hidden;*/
/*    display: none;

}


}


@media screen and (min-width: 1000px) {
body {
    background-color: #0a47a9;
}

.menu {

    /*visibility: visible;*/
/*        display: inline;

    }


}





/*
@media screen and (max-width: 720px) {

    body {

        background-color: #0a47a9;

        color: #000;
    }
}


body {

    background-color: #959ead;

}*/