body {

    /*background: rgb(2,0,36);*/
    /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/


    background-color: #3dd5f3;

    padding: 0;
    margin: 0;

}



#title1 {

    color: whitesmoke;
    font-family: Verdana;

    position: fixed;
    top: 50px;
    left: 50px;

    padding: 0;
    margin: 0;


}





#video1 {

    /*position: fixed;
    top: 50px;
    right: 50px;*/
    width: 100%;
    box-shadow: 5px 5px 15px 5px #000000;

}


@media screen and (min-width: 992px) {
    #video1 {
        width: 500px;
    }
}



#footer {

    /*margin: 0;*/
    padding: 30px;

    position: fixed;
bottom: 0;
    width: 100%;
    background-color: whitesmoke;



}