.admin-title {

    color: var(--color-dark);
    font-size: 3rem;
    margin-bottom: 20px;

}


.admin-subtitle {

    font-size: 1.5rem;
    color: var(--color-dark);

}



.admin-hyperlink {
    color: var(--color-dark);
    text-decoration: none;
}