.admin-item-container {

    display: flex;
    flex-direction: column;

    gap: var(--default-space);
    /*padding: var(--default-space);*/

    border-bottom: dotted;  /* solid;*/
    border-bottom-width: 1px;
    border-bottom-color: var(--color-dark);


}


.admin-item-hyperlink {

    color: var(--color-dark);
    text-decoration: none;

    display: flex;
    flex-direction: column;

    gap: var(--default-space);
    /*padding: var(--default-space);*/

    border-bottom: dotted;  /* solid;*/
    border-bottom-width: 1px;
    border-bottom-color: var(--color-dark);


}



.admin-item-title {

    color: var(--color-dark);
    font-weight: bold;
    font-size: 1.3rem;



}


.admin-item-subtitle {

    color: var(--color-dark);
    font-size: 1.1rem;

}


.admin-item-small {

    font-size: 0.7rem;

}


.admin-item-large {

    font-size: 2rem;


}