/** {
    padding: 0;
    margin: 0;
}



html {
    font-size: 14px;
}*/




.search-box {

    display: flex;
    gap: 1em;

}



.ratsmitglied-container {

 /*   background-color: rgba(242,242,242,0.89);*/

    /*background-color: #3dd5f3;*/
    /*background-color: rgb(6,17,4);
    background-image: url("https://www.bern.com/assets/images/f/bern-am-abend-2d963b4f.jpg");
    background-repeat: no-repeat;
    /*background-position-x: center;*/
    /*background-size: 100% auto;*/

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: column;

}


@media screen and (max-width: 992px) {

    .ratsmitglied-container {
        padding: 10px;
        flex-direction: column;
    }

    .ratsmitglied-item {
        width: 100%;
    }


}

@media screen and (min-width: 992px) {
    .ratsmitglied-container {
        flex-direction: row;
    }
    .ratsmitglied-item {
        width: 200px;
    }
}










.ratsmitglied-item {

    background-color: var(--color-dark2);
    opacity:1;

    border-radius: var(--border-radius);
    overflow: hidden;



    /*margin: 30px;
    /*padding: 30px;*/
    /*min-width: 400px;*/


    /*transform: rotate(3deg);*/

    /*transform: rotate3d(1, 1, 1, 45deg);*/

}


.ratsmitglied-item:hover {

    /*box-shadow: 1px 3px 29px 5px rgba(0,0,0,0.62);*/
    box-shadow: var(--box-shadow);
    /*cursor: pointer;*/


    /*width: 220px;*/

}




.ratsmitglied-item-title {

    background-color: var(--color-dark1);  /* rgba(127,127,127,0.89);*/
    color: var(--color-light1);  /* whitesmoke;*/
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    text-align: center;


    /*border-top-left-radius: 20px;
    border-top-right-radius: 20px;*/

}

.ratsmitglied-item-image {
    width: 100%;

}


.ratsmitglied-item-text {
    padding: 10px;
    font-size: 1rem;
}



