:root {

    --color-light1: grey;
    --color-light2: lightgrey;
    --color-dark1: #676767;
    --color-dark2: #676767;

    --error-color: red;

    --border-radius: 5px;
    --box-shadow: 3px 6px 4px -6px #000000;

    --default-space:20px;



}