audio {

    background-color: #1da1f2;
    width: 100%;


}


audio::-webkit-media-controls-panel {
    background-color: #1da1f2;
}



audio::-webkit-media-controls-play-button {
    background-color: #1da1f2;

}

