.card-container {

    display: flex;
    flex-direction: column;
    gap: var(--default-space);


}





.card {

    background-color: white;
    /*margin: 2em;*/

    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark1);
    border-radius: var(--border-radius);
    overflow: hidden;

}


.card-title {

    display: block;
    /*overflow: hidden;*/
    background-color: var(--color-dark1);
    color: var(--color-light1);
    /*font-style: italic;*/
    font-size: 1.1rem;
    padding: var(--default-space);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;

}


.card-content {

    display: none;
    padding: var(--default-space);

}



