.admin-card-container {

    display: flex;
    flex-direction: column;
    gap: var(--default-space);

}


.admin-card {

    background-color: white;
    /*margin: 2em;*/

    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark1);
    border-radius: var(--border-radius);
    overflow: hidden;
    /*max-width: 500px;*/

}


.admin-card-title {

    display: block;
    background-color: var(--color-light2);
    color: var(--color-dark2);
    font-size: 1.1rem;
    padding: var(--default-space);
    text-decoration: none;
    font-weight: bold;

}


.admin-card-content {

    padding: var(--default-space);

}



