.admin-button {

    color: var(--color-light1);
    background-color: var(--color-dark1);
/*    width: 100px;*/
    border-radius: var(--border-radius);
    transition-duration: 0.3s;
    border: none;
    padding: var(--default-space);  /* 10px;*/
    text-decoration: none;

    display: block;

}



.admin-button:hover {
    /*background-color: var(--color-light);*/
    cursor: pointer;
    box-shadow: var(--box-shadow);

}


input[type=file]::file-selector-button {

    color: var(--color-light1);
    background-color: var(--color-dark1);
    /*width: 100px;*/
    border-radius: var(--border-radius);
    transition-duration: 0.3s;
    border: none;
    padding: 10px;
    margin: 0;
    margin-right: var(--default-space);
    margin-bottom: var(--default-space);

}


input[type=file]::file-selector-button:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);

}
