
input[type=text], input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    font-size: large;
    background-color: whitesmoke;

    transition-duration: 0.5s;

}


input[type=text]:focus {

    background-color: rgba(213,213,213,0.02);
    box-shadow: 1px 3px 29px 5px rgba(0,0,0,0.62);
    border: none;

}
