
.admin-textbox {

    /*width: 200px;*/
    /*display: flex;
    /*flex-direction: row;*/
    /*flex-direction: column;
    /*gap: 5px;*/

}

/*
.admin-textbox-label {

display: block;

}*/



.admin-textbox label {

    margin-bottom: 10px;

}

.admin-textbox-color {

    height: 50px;
    padding: 0;
    margin: 0;

}
